@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/*
@layer base {
  body {
    @apply text-body antialiased bg-cream font-sans;
  }
}
*/
